.form-placing {
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-top: 3rem;

}

.image {
  backdrop-filter: blur(10px);
  background-image: url("../assets/images/danTheMan.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100vh;
}

.header-style {
  color: white;
  display: grid;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 0;

}